{% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Bytovuha.by</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bytovuhaApp/css/bootstrap.min.css' %}"/>	
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/jquery.js' %}"></script>	
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bytovuha.by</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="/all_products">Каталог товаров</a></li>            
            <li><a href="#contact">Наши контакты</a></li>
            <li><a href="/basket">Корзина</a></li>            
            <li><a href="/logout">Выйти из системы</a></li>            
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block content %} {% endblock %}
</body>
