{% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Bytovuha.by</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bytovuhaApp/css/bootstrap.min.css' %}"/>	
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/jquery.js' %}"></script>	
  <script type="text/javascript" src="{% static 'bytovuhaApp/js/holder.js' %}"></script>    
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        
        <div class="navbar-collapse collapse">
          <a class="navbar-brand" href="/">Бытовуха.by</a>
          <a class="navbar-brand" href="/"><b><font color=#5050FF>Onl</font><font color=#FF5050>i</font><font color=#5050FF>ner</font></b>
                    <font color=#888888>в мире бытовой техники</font></a>
            <ul class="nav navbar-nav">
            <li><a href="/all_products">Catalog</a></li>            
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/basket">Basket</a></li>  
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}          
              <li><a href="/logout">Log out</a></li>
            {% else %}
              <li><a href="/login">Log in</a></li>                  
            {% endif %}       
          </ul> 

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block content %} {% endblock %}
</body>
