{% extends "bytovuhaApp/base.html" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
	    <h1>{{heading}}</h1>

		<table class="table table-condensed">
		  <tr>
		    <th>Product name</th>
		    <th>Price</th>
		    <th>Amount</th>		    
		    <th></th>
		  </tr>
			{%for name, price, amount, id in buyings %}		
				  <tr>
				    <td>{{name}}</td>
				    <td>${{price}}</td>
				    <td>{{amount}}</td>
				    <td><a href="{% url 'remove' id%}">Remove from basket &raquo;</a></td>
				  </tr>
			{%endfor%}
		</table>


		{% if products%}
	  		<p><a class="btn btn-primary btn-lg" href="/pay/">Pay! &raquo;</a></p>
	  	{% endif %}
    </div>
  </div>
{% endblock %}

	