{% extends "bytovuhaApp/base_catalog.html" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
	    <h2>{{heading}}</h2>

		<table class="table table-condensed">
		  <tr>
		    <th>Товар</th>
		    <th>Стоимость</th>
		    <th>Количество</th>		    
		    <th></th>
		  </tr>
			{%for name, price, amount, id in buyings %}		
				  <tr>
				    <td>{{name}}</td>
				    <td>${{price}}</td>
				    <td>{{amount}}</td>
				    <td><a href="{% url 'remove' id%}">Удалить из корзины &raquo;</a></td>
				  </tr>
			{%endfor%}
		</table>


		{% if buyings%}
	  		<p><a class="btn btn-primary btn-lg" href="/pay/">Купить &raquo;</a></p>
	  	{% endif %}
    </div>
  </div>
{% endblock %}

	