{% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Bytovuha.by</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bytovuhaApp/css/bootstrap.min.css' %}"/>	
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bytovuhaApp/js/jquery.js' %}"></script>	
</head>
<body>
	<div class="row">
		<div class="col-md-7 col-sm-offset-5"> 
			<h1>Бытовуха.by</h1>
		</div>
	</div>

</body>
