{% extends "bytovuhaApp/base.html" %}

{% block content %}
  <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <h2><font color=#FFFFFF>Top margin</font></h2>
      
        <div class="col-sm-3">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
            <div class="list-group">
            <a href="/all_products" class="list-group-item active">Все продукты</a>
            <a href="products_for_category/Washing_machines/" class="list-group-item">Стиральные машины</a>
            <a href="products_for_category/Electronics/" class="list-group-item">Электроника</a>
            <a href="#" class="list-group-item">Что-нибудь еще</a>
          
          </div>
        </div><!--/span-->

        <div class="col-sm-9 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
            </div>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.container-->

{% endblock %}
