{% extends "bytovuhaApp/base.html" %}

{% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <h2><font color=#FFFFFF>Top Margin</font></h2>
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="container">
                        <address>
                            <h2><strong>Бытовуха.by</strong></h2>
                            <h4><strong><font color=#0000FF>Onl</font><font color=#FF0000>i</font><font color=#0000FF>ner</font></strong> в мире бытовой техники</h4><br>
                            Наша компания вот уже вторую неделю работает в сфере интернет-торговли<br>
                            Она была основана как лабораторная работа по курсу ПЧМИ в БГУ,<br>
                            Но уже довольно скоро вышла на новый уровень<br><br><br>
                            В нашем каталоге насчитывается более десяти товаров!<br>
                            Вы можете <a href="/products_for_category//0/">проверить</a> это сами!<br><br><br>
                            <footer>
                            <table>
                            <tr>
                            <td valign="top">
                            <strong>Наши контакты:</strong>
                            </td><td>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            </td><td valign="top">
                            тел. (123) 456-7890<br>
                            г. Минск, проспект Независимости, 4.
                            к. 522, 506<br>
                            <a href="mailto:andrew414414@gmail.com">andrew414414@gmail.com</a><br>
                            <a href="mailto:glebik.stanislav@gmail.com">glebik.stanislav@gmail.com</a>
                            </td>
                            </tr>
                            </table>
                            </footer>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

	