{% extends "bytovuhaApp/base_catalog.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <font color=#606060 size=5px>{{heading}}</font>

		<table class="table">
		  <tr><!--
		  	<th></th>
		    <th>Товар</th>
		    <th>Стоимость</th>-->
			<td></td>
		    <td><font size=4px color=#606060>Товар</font></td>
		    <td><div align="center"><font size=4px color=#606060>Стоимость</font></div></td>
			<td></td>
		  </tr>
			{%for product in products %}		
				  <tr>
				  	<td><img src="{{ product.image_url }}" class="img-polaroid"></td>
				    <td><a href="{% url 'product_description' product.id %}">{{product.name}}</a></td>
				    <td><div align="center">${{product.price}}</div></td>
					<td><a href="{% url 'buy' product.id%}">В корзину &raquo;</a>
					{% for buying in buyings %}
						{% if buying.product.id = product.id %}
						({{buying.amount}})
						{% endif %}
						
					{% endfor %}
					</td>
				  </tr>
			{%endfor%}
		</table>
<ul class="pager">
  <li><a href="/products_for_category/{{category}}/{{prev_page}}">&nbsp;&nbsp;&nbsp;&laquo;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="/products_for_category/{{category}}/{{next_page}}">&nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;</a></li>
</ul>

    </div>
  </div>
{% endblock %}

	