{% extends "bytovuhaApp/register_base.html" %}

{% block content %}
    <div class="container">
      <form class="form-signin" action="/register/" method="post">
        {% csrf_token %}
		{% if alert %}
		<div align="center" class="alert alert-danger">Пользователь уже существует</div>
		{% endif %}
        <h2 align="center" class="form-signin-heading">{{message}}</h2>
        <input type="Username" name="username" class="form-control" placeholder="Имя пользователя" autofocus>
		<p></p>
        <input type="password" name="pass" class="form-control" placeholder="Пароль">
        <input type="email" name="email" class="form-control" placeholder="Эл. почта">
		<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться &raquo;</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
