{% extends "bytovuhaApp/base_catalog.html" %}

{% block content %}
  <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <h2><font color=#FFFFFF>Top Margin</font></h2>
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="container">
						<h2>Спасибо за покупку!</h2><br>
						<p>Вам было выслано письмо с деталями</p>
					</div>
                </div>
            </div>
        </div>
    </div
{% endblock %}
